.DS_Store
.dart_tool/
*.log

.packages
.pub/

build/

.flutter-plugins
.flutter-plugins-dependencies

.vscode
.idea
*.iml
.gradle
local.properties

ios/.generated/
ios/.symlinks/

packages
pubspec.lock
/ios/Flutter/flutter_export_environment.sh
